.MainPage {
    background-color: rgb(0, 210, 210);
    color: #fff;

    .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        z-index: -10;
        text-shadow: 2px 0 5px #000;
        text-align: left;

        &__info {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 35px;
            max-width: 45vw;
            margin-left: 3vw;
        }

        &__header {
            font-size: 60px;
            line-height: 0.95;
            margin: 20px 0;
        }

        &__descr {
            width: 80%;
            margin-left: 10px; // :)
            text-shadow: 2px 0 2px #000;
        }

        &__orange {
            background-image: url('../../assets/img/img.jpeg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: left;
            height: 100vh;
            width: 50vw;
            position: absolute;
            top: 0;
            border-radius: 50% 0 0 50%;
            transform: translateX(100%);
            box-shadow: 10px 0 10px 0 #00000033 inset;
        }
    }
}

.link {
    text-decoration: none;
    color: #fff;
    text-align: center;
    width: max-content;
    background-color: #e09832;
    border-radius: 20px;
    transition: 0.3s;
    display: block;
    padding: 15px;
    text-shadow: none;

    &:hover {
        box-shadow: 2px 0 2px 2px #00000033 inset;
    }
}

.wrapper {
    max-width: 1300px;
    margin: 0 auto;
}

.header {
    font-size: 2rem;
    margin: 0.86rem;
}

.excercises {
    display: flex;
    justify-content: center;
    flex-direction: column;

    &__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        align-items: center;
    }
    &__item {
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(0, 230, 230);
        border-radius: 13px;
        box-shadow: 0 0 5px 5px #00000033;
        padding: 20px;
        gap: 30px;

        &__icon {
            height: 150px;
            width: 150px;
        }
    }
}
